

@model home_made_harmony_online.Models.SellerModel;
<header> Hello @Model.fName </header>
<div> 
    <p> seller name is: @Model.fName @Model.lName</p>

    <p> seller phone is: @Model.phoneNumber</p>
    <p> email: @Model.email</p>
    @*<meta http-equiv="refresh" content="1" />
    <p>Current time: @DateTime.Now.ToString("HH:mm:ss")</p>*@

</div>